<!-- Note, copy this for the rest of the team members -->
<!-- Employee card page for Engineer -->



<div class="col-md-3 col-sm-6">
    <div class="team-all">
        <div class="team-img">
            <a href="#"><img src="{{ photo }}" alt=""></a>
        </div>
        <div class="team-content text-center">
            <h3>{{ name }}</h3>
            <p>{{ role }}</p>
            <div class="team-single">
                <ul class="list-group">
                    <li class="list-group-item">ID: {{ id }}</li>
                    <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                    <li class="list-group-item">GitHub: <a href="https://github.com/{{ github }}" target="_blank"
                            rel="noopener noreferrer">{{ github }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>

</html> -->