<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- All CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>


<body>
    <!-- Start main wrapper -->
    <div class="wrapper">

        <!-- Header area start -->
        <header class="header-area header-style-one intelligent-header">
        </header>
        <!-- Header area End -->
        <!-- Main content start -->
        <div class="content">

            <!-- team area -->
            <div class="container">


                <div class="row">
                    <div class="col-xs-12">
                        <div class="custom-title text-center">
                            <h2>Meet Out Teem</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>