<!-- Employee card page for managers -->


<div class="col-md-3 col-sm-6">
    <div class="team-all">
        <div class="team-img">
            <a href="#"><img src="{{ photo }}" alt=""></a>
        </div>
        <div class="team-content text-center">
            <h3>{{ name }}</h3>
            <p>{{ role }}</p>
            <div class="team-single">
                <li class="list-group-item">ID: {{ id }}</li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="list-group-item">Office number: {{ officeNumber }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>